img {
border: red 1px solid;
/* object-position: 40vw; */
}

.waveform {
    position: relative;
    left: 40vw;
}

.scroll {
    animation-name: scroll; 
    animation-duration: 354s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    anim
}

@keyframes scroll {
    from {left: 40vw;}
    to {left: calc(-17700px + 40vw);}
    
}

